# Игнорируем всё, кроме JS/JSX файлов в src
*
!src/
src/**/*.css
src/**/*.html
src/**/*.json
!src/**/*.js
!src/**/*.jsx

# Специфичные файлы и папки
node_modules
build
dist
public
.husky
.prettierrc
*.json
*.html
*.css
.eslintignore